{% extends 'base.html.twig' %}
{% block body %}
    {% if records %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Фамилия
                    </th>
                    <th>
                        Имя
                    </th>
                    <th>
                        Отчество
                    </th>
                    <th>
                        Дата рождения
                    </th>
                    <th>
                        Город
                    </th>
                    <th>
                        Улица
                    </th>
                    <th>
                        Номер телефона
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
        {% for record in records %}
            <tr>
                <td>
                    {{record.getLastName()}}
                </td>
                <td>
                    {{record.getFirstName()}}
                </td>
                <td>
                    {{record.getMiddleName()}}
                </td>
                <td>
                    {{ record.getBirthDate()|date('d.m.Y') }}
                </td>
                <td>
                    {{ record.getStreet().getCity().getName() }}
                </td>
                <td>
                    {{ record.getStreet().getName() }}
                </td>
                <td>
                    {{record.getPhoneNumber()}}
                </td>
                <td>
                    <a href="/edit/{{ record.getId() }}">Изменить</a>
                </td>
                <td>
                    <a onclick="if(!confirm('Вы уверены?')) {return false;}" href="/delete/{{ record.getId() }}">Удалить</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h3>Записи отсутствуют</h3>
    {% endif %}
        <a href="/add" class="btn btn-success">Добавить</a>
{% endblock %}