{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('js/edit-record.js') }}"></script>
    <script src="{{ asset('bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bootstrap-datepicker/css/bootstrap-datepicker.min.css') }}" />
{% endblock %}
{% block body %}
    <form id="edit-form" class="form-horizontal" action="/save_or_update" method="post">

        <input type="hidden" name="id" value="{{ record.getId() }}">

        <div class="form-group">
            <label for="lastName" class="col-sm-2 control-label">Фамилия</label>
            <div class="col-sm-10">
                <input class="form-control" id="lastName" name="lastName" placeholder="Фамилия" value="{{ record.getLastName() }}">
				<div class="help-block with-errors hidden"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">Имя</label>
            <div class="col-sm-10">
                <input class="form-control" id="firstName" name="firstName" placeholder="Имя" value="{{ record.getFirstName() }}">
				<div class="help-block with-errors hidden"></div>
			</div>
        </div>

        <div class="form-group">
            <label for="middleName" class="col-sm-2 control-label">Отчество</label>
            <div class="col-sm-10">
                <input class="form-control" id="middleName" name="middleName" placeholder="Отчество" value="{{ record.getMiddleName() }}">
				<div class="help-block with-errors hidden"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="cityId" class="col-sm-2 control-label">Город</label>
            <div class="col-sm-10">
                <select class="form-control" name="cityId" id="cityId">
                    <option value="0">Выберите город</option>
                    {% for city in cities %}
                        <option
                            {% if record.getStreet() != null and city.getId() == record.getStreet().getCity().getId() %}
                                selected="selected"
                            {% endif %}
                            value="{{ city.getId() }}">
                                {{ city.getName() }}
                        </option>
                    {% endfor %}
                </select>
				<div class="help-block with-errors hidden"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="streetId" class="col-sm-2 control-label">Улица</label>
            <div class="col-sm-10">
                <select class="form-control" name="streetId" id="streetId">
                    <option value="0">Выберите улицу</option>
                    {% if record.getStreet() != null %}
                        {% for street in record.getStreet().getCity().getStreets() %}
                            <option
                                    {% if street.getId() == record.getStreet().getId() %}
                                        selected="selected"
                                    {% endif %}
                                    value="{{ street.getId() }}">
                                {{ street.getName() }}
                            </option>
                        {% endfor %}
                    {% endif %}
                </select>
				<div class="help-block with-errors hidden"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="phoneNumber" class="col-sm-2 control-label">Номер телефона</label>
            <div class="col-sm-10">
                <input class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Номер телефона" value="{{ record.getPhoneNumber() }}">
				<div class="help-block with-errors hidden"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="birthDate" class="col-sm-2 control-label">Дата рождения</label>
            <div class="col-sm-10">
                <input class="datepicker form-control" id="birthDate" name="birthDate" placeholder="Дата рождения" value="{% if record.getBirthDate()!=null %}{{ record.getBirthDate()|date('d.m.Y') }}{% endif %}">
				<div class="help-block with-errors hidden"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="/" class="btn btn-default">Отмена</a>
                <button id="submit-btn" type="button" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </form>
{% endblock %}
